<footer class="site-footer">
    <div class="container">
        <div class="site-footer__top clearfix">
            <section class="row region region-footer-first">
                <div id="block-footer"
                    class="block block-block-content block-block-content53398ba9-9d54-4e70-8946-22227a9ed1ae">

                    <div class="content">

                        <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">

                            <div class="row justify-content-center footer mb-4">
                                <div class="col-md-4">
                                    <p class="footer-title">
                                        <%= t('layouts.footer.city_hall') %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <br>
                                        <%= t('layouts.footer.of_torres_cotillas') %> <span class="subrayado">.</span>
                                    </p>
                                    <p class="footer-links first-element align-items-center">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/map-pin.svg"
                                            alt="map pin" width="35" height="35">Plaza Adolfo Suárez, ·
                                        30565&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <br>
                                        - Las Torres de Cotillas (Murcia)
                                    </p>
                                    <p class="footer-links align-items-center">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/click.svg"
                                            alt="clic" width="35" height="35"><%= t('layouts.footer.instance') %>
                                    </p>
                                    <p class="footer-links align-items-center">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/mail.svg"
                                            alt="mail" width="35" height="35">ayuntamiento@lastorresdecotillas.es
                                    </p>
                                    <p class="footer-links align-items-center">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/phone.svg"
                                            alt="phone" width="35" height="35">968626511
                                    </p>
                                    <p class="footer-links align-items-center">
                                        <img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/clock.svg"
                                            alt="clock" width="35" height="35"><%= t('layouts.footer.schedule') %>
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <p class="footer-title"><%= t('layouts.footer.quick_access') %> <span class="subrayado"></span></p>
                                    <p class="footer-links align-items-center"><a href="/noticias-actualidad"><%= t('layouts.footer.actuality') %></a></p>
                                    <p class="footer-links align-items-center"><a href="/eventos"><%= t('layouts.footer.events') %></a></p>
                                    <p class="footer-links align-items-center"><a href="https://polideportivo.lastorresdigital.es/CronosWeb" target="_blank"><%= t('layouts.footer.sports_center_reserves') %></a></p>
                                    <p class="footer-links align-items-center"><a href="/contacto"><%= t('layouts.footer.contact') %></a></p>
                                    <p class="footer-links align-items-center"><a href="/informacion-urbanistica"><%= t('layouts.footer.urbanism_forms_applications') %></a></p>
                                    <p class="footer-links align-items-center"><a href="/accesibilidad"><%= t('layouts.footer.accesibility') %></a></p>
                                </div>
                                <div class="col-md-4">
                                    <p class="footer-title align-items-center"><%= t('layouts.footer.useful') %><span class="subrayado">.</span></p>
                                    <p class="footer-links align-items-center"><a href="https://lastorresdecotillas.sedelectronica.es/board/9753e838-f59b-11de-b600-00237da12c6a/" target="_blank"><%= t('layouts.footer.job_offer') %></a></p>
                                    <p class="footer-links align-items-center"><a href="https://lastorresdecotillas.sedelectronica.es/contractor-profile-list" target="_blank"><%= t('layouts.footer.contracting_bidding') %></a></p>
                                    <p class="footer-links align-items-center"><a href="https://lastorresdecotillas.sedelectronica.es/board" target="_blank"><%= t('layouts.footer.bulletin_board') %></a></p>
                                    <p class="footer-links align-items-center"><a href="/buzon-de-quejas-y-sugerencias/"><%= t('layouts.footer.complaints_suggestions') %></a></p>
                                    <p class="footer-links align-items-center"><a href="/incidencias-alumbrado-publico/"><%= t('layouts.footer.incidents_street_lighting') %></a></p>
                                    <p class="footer-links align-items-center"><a href="https://reclutamiento.defensa.gob.es/" target="_blank"><%= t('layouts.footer.armed_forces') %></a></p>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>

            </section>

            <section class="row justify-content-center">
                <div id="container-logos-rrss">
                    <div class="col-3" id="div-img-footer-cotillas">
                        <a><img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-04/logo-footer.svg"
                                alt="logo footer" width="60" height="105" id="logo-footer"></a>
                    </div>
                    <div id="div-icons-social">
                        <a href="https://www.facebook.com/ayuntamientolastorresdecotillas/" target="_blank"><img
                                class="icon"
                                src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_FB.svg"
                                alt="fb" width="46" height="46"></a><a
                            href="https://twitter.com/i/flow/login?redirect_after_login=%2FAytoLasTorresC"
                            target="_blank"><img class="icon"
                                src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_tw.svg"
                                alt="tw" width="46" height="46"></a><a
                            href="https://www.instagram.com/aytolastorresdecotillas/" target="_blank"><img class="icon"
                                src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_IG.svg"
                                alt="ig" width="46" height="46"></a><a
                            href="https://api.whatsapp.com/send/?phone=34968626511&amp;text&amp;type=phone_number&amp;app_absent=0"
                            target="_blank"><img class="icon"
                                src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/RRSS_WA.svg"
                                alt="wa" width="46" height="46"></a>
                    </div>
                    <div class="col-3" id="div-img-footer-europe">
                        <a><img src="https://lastorresdecotillas.ticsmart.eu/sites/default/files/2023-05/logo-feder.svg"
                                alt="logo feder" width="119" height="92" id="iåmg-feder"></a>
                    </div>
                </div>
            </section>

            <section class="row region region-footer-second">
                <div class="block block-block-content block-block-contentfb819fa8-b448-4ec3-8496-9a82ee4e6408"
                    id="block-bloqueprivacidadfooter">
                    <div class="content">
                        <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <div id="footer-privacidad">
                                <div id="div-text-feder">
                                    <div id="text-footer-title">
                                        <span class="col-6" id="text-feder"><%= t('layouts.footer.european_regional_development_fund') %></span>
                                        <span id="text-feder-2"><%= t('layouts.footer.a_way_of_doing_europe') %></span>
                                    </div>
                                </div>
                                <hr>
                                <div id="container-links-footer">
                                    <div id="links-footer">
                                        <a href="/mapa-del-sitio"><span><%= t('layouts.footer.site_map') %></span></a> 
                                        <a href="/aviso-legal"><span><%= t('layouts.footer.legal_notice') %></span></a>
                                        <a href="/proteccion-de-datos"><span><%= t('layouts.footer.privacy_policy') %></span></a>
                                        <a href="https://sede.lastorresdigital.es/intranet/"><span><%= t('layouts.footer.intranet') %></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</footer>