<nav class="navbar navbar-light bg-secondary" id="navbar-top">

  <div id="block-mainnav" class="block block-block-content block-block-content24ff89cf-a1a5-4c37-8490-b01867eb7441">


    <div class="content">

      <div class="clearfix text-formatted field--name-body field--type-text-with-summary field--label-hidden field__item">
        <div class="container-fluid" style="padding: 0">
          <nav class="d-flex gap-2" id="main-nav-rrss">
            <div id="email">
              <%= image_tag("mail.svg", width: '24', height: '24') %>
              <span>alcaldia@lastorresdecotillas.es</span>
            </div>
            <div id="phone">
              <%= image_tag("phone.svg", width: '24', height: '24') %>
              <span>968 626 511</span>
            </div>
            <div id="rrss">
              <%= image_tag("brand-facebook.svg", width: '24', height: '24') %>
              <%= image_tag("brand-twitter.svg", width: '24', height: '24') %>
              <%= image_tag("brand-instagram.svg", width: '24', height: '24') %>
              <%= image_tag("brand-whatsapp.svg", width: '24', height: '24') %>
            </div>

          </nav>
          <nav class="row" id="main-nav-cotillas">
            <div class="col-10 nav-home-item">
              <div id="nav-item-sede">
                <%= image_tag("edit.svg", width: '28', height: '28') %>
                <a href="https://lastorresdecotillas.sedelectronica.es/info.2"><%= t('layouts.header.electronic_office') %></a>
              </div>
              <div id="nav-item-polideportivo">
                <%= image_tag("ball-tennis.svg", width: '28', height: '28') %>
                <a href="https://lastorresdecotillas.i2a.es/CronosWeb/Login"><%= t('layouts.header.sports_center_reservations') %></a>
              </div>
              <div id="nav-item-tramites">
                <%= image_tag("calendar-plus.svg", width: '28', height: '28') %>
                <a href="https://lastorresdecotillas.sedelectronica.es/dossier.1"><%= t('layouts.header.prior_appointment_procedures') %></a></div>
              <div id="nav-item-sanidad">
                <%= image_tag("stethoscope.svg", width: '28', height: '28') %>
                <a href="https://lastorresdecotillas.sedelectronica.es/citaprevia.0"><%= t('layouts.header.prior_health_appointment') %></a>
              </div>
              <div id="nav-item-agenda">
                <%= image_tag("trees.svg", width: '28', height: '28') %>
                <a href="https://agenda-2030.lastorresdecotillas.es/"><%= t('layouts.header.agenda_2030') %></a>
              </div>
              <div id="nav-item-oficina">
                <%= image_tag("at.svg", width: '28', height: '28') %>
                <a href="https://pre-lastorresdecotillas.ticsmart.eu/oficina-virtual"><%= t('layouts.header.virtual_tax_office') %></a>
              </div>
              <div id="nav-item-fondos">
                <a href="https://pre-lastorresdecotillas.ticsmart.eu/fondos-feder-menu">
                  <%= image_tag("currency-euro.svg", width: '28', height: '28') %> <%= t('layouts.header.feder_funds') %>
                </a>
              </div>
            </div>
            <div class="col-2 nav-home-item" id="item-transparencia">
              <a href="/home"><span><%= t('layouts.header.transparency_portal') %></span>
                <%= image_tag("external-link.svg", width: '24', height: '24') %>
              </a>
            </div>
          </nav>
        </div>
      </div>

    </div>
  </div>


</nav>


<div class="container">
  <nav class="navbar account-navbar justify-content-end">
      <%= render Layout::AccountMenuComponent.new(current_user) %>
  </nav>
</div>



<nav class="navbar menu-nav navbar-light bg-primary navbar-expand-lg mb-4" id="navbar-main">
  <div class="container">
      <div class="logo-header">

          <%= link_to root_path, accesskey: "0" do %>
                <%= image_tag("LTC-LOGO-1-1-e1568041968683.png", width: '40', class: "img-fluid d-inline-block align-top") %>
          <% end %>

      </div>

    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-end" id="CollapsingNavbar">
      <div id="block-headerhome" class="block block-block-content block-block-contenteb5332c3-194b-4389-b2d3-ac7197401355">

        <div class="content">

          <div class="clearfix text-formatted field--name-body field--type-text-with-summary field--label-hidden field__item">
            <div id="header-home">
            <%= render Layout::SubnavigationComponent.new %>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>
</nav>