<!DOCTYPE html>
<html <%= common_html_attributes %> data-current-user-id="<%= current_user&.id %>">

  <body class="<%= yield(:body_class) %> public">
    <%= raw setting["html.per_page_code_body"] %>

    <div class="wrapper <%= yield(:wrapper_class) %>">
      <div class="container">



      <div class="d-flex gap-5 flex-md-row flex-column my-5">

        <div class="mx-auto">
          <img class="img-fluid rounded" alt="Ilustración de Clara, asistente virtual" src="https://decide.madrid.es/assets/01-Ilustraci%C3%B3n-Clara-(Asistente-virtual)@x2-c28b0e00995699ffbc76039780af8bf4419c30dd9343bbc5329cb448a913ee77.png">
        </div>

        <div>
          <h1 class="mb-4"><%= t("welcome.home.title")%></h1>
          <p class="text-justify"><%= t("welcome.home.subtitle")%></p>

          <div class="text-center-md">
              <div class="d-none d-md-block ">
                  <p style="margin-top: 2rem">
                      <a class="btn no-radius btn-principal no-underline" href="/users/sign_up"><%= t("users.signup")%></a>
                      <a class="btn no-radius btn-secundario no-underline" href="/tu-propones"><%= t("layouts.header.help")%></a>
                  </p>
              </div>
              <div class="d-md-none">
                  <div class="row mx-auto"  style="margin-top: 2rem">
                      <a class="btn no-radius btn-principal  mb-2 no-underline w-100"  href="/users/sign_up"><%= t("users.signup")%></a>
                      <a class="btn no-radius btn-secundario  no-underline w-100" href="/tu-propones"><%= t("header.help")%></a>
                  </div>
              </div>                
          </div>
        </div>
      </div>

        <%= render "layouts/flash" %>

        <%= yield %>

      </div>

      <div class="container">
        <div class="py-5">
          <div class="row g-6 mb-5">
            <div class="col-md-4 pr-0" style="padding-right: 0px !important;">
              <h2><%= t("welcome.home.title_2")%></h2>
              <p class="fs-6"><%= t("welcome.home.subtitle_2")%></p>
              <div class="d-flex gap-3 flex-md-row flex-column mb-3" role="tablist">
                  <div class="nav-item" role="presentation">
                    <button class="nav-link active w-100" id="btnShowDebates pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" style="padding-left: 1rem; padding-right: 1rem" aria-controls="pills-home" aria-selected="true"><%= t("users.show.debates")%></button>
                  </div>
                  <div class="nav-item flex-grow-1" role="presentation">
                    <button class="nav-link w-100" id="btnShowProposals pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false"><%= t("proposals.index.title")%></button>
                  </div>
              </div>
              <div class="mt-5 d-none d-md-block" style="height: 38rem">
                <img class="img-fluid rounded" alt="Ilustración de sección tu propones, un hombre y una mujer encajando piezas de puzzle" src="https://decide.madrid.es/assets/02-Ilustraci%C3%B3n-secci%C3%B3n-Participa-en-Madrid@x2-810f8d8a976414367f65758aa6aaac7113608ce5286602a2f7041e0ff9e0d789.png">
              </div>
            </div>
            <div class="col-md-8">
              <div class="tab-content h-100" id="pills-tabContent">
                <div class="tab-pane h-100 fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <!-- Indicadores -->

                    <div class="carousel-indicators fixed-buttons">
                      <% debate_groups = @limited_debates.each_slice(@debate_group_count).to_a %>
                      <% debate_groups.each_with_index do |debate_group, index| %>
                        <button type="button" data-bs-target="#carouselExampleIndicators" class="<%= index.zero? ? 'active' : '' %> circulo" data-bs-slide-to="<%= index %>" aria-label="Slide <%= index + 1 %>"></button>
                      <% end %>

                      <div class="debatesButton col-8 col-md-3">
                        <a class="btn btn-principal no-radius no-underline w-100" href="/debates"><%= t("welcome.home.button_debates") %></a>
                      </div>
                    </div>
                    <div class="carousel-inner">
                      <div class="row ps-3" style="margin-bottom: -1rem;">
                                <h3><%= t("users.show.debates")%></h3>
                      </div>
                      <% debate_groups.each_with_index do |debate_group, index| %>
                          <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
                            <div class="row p-3">
                              <div class="col-md-6 col-12 d-none d-md-block mb-4">
                                <div id="cardWelcome" class="fit-container card cardHome">
                                  <div class="card-body">
                                    <div class="col-12 mb-4">
                                      <img class="img-fluid rounded" alt="Una joven consulta información en un portátil, sentada en una mesa de una biblioteca" src="https://decide.madrid.es/assets/welcome/Participa-998351bff8be28bace608710513573266f1d022a696e02a44d7cf7e8fe158b45.jpg">
                                    </div>
                                    <strong>
                                    <a class="" style="" href="/tu-propones"><%= t("welcome.home.card") %></a>
                                    </strong>
                                  </div>
                                </div>
                              </div>
                              <% debate_group.each_with_index do |debate, debate_index| %>
                                
                                <div class="col-md-6 col-12 mb-4">
                                  <div id="cardWelcome" class="card cardHome">
                                    <!-- Contenido de tu tarjeta de debate aquí -->
                                    <div class="card-body">
                                      <div class="row mb-3">
                                        <div class="col align-self-start" style="height: 4rem">
                                          <span class="h6"><%= debate.total_votes %>  apoyos</span>
                                        </div>
                                        <div class="col align-self-end text-end" style="height: 4rem">
                                          <div class="row">
                                              <div class="col">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                                                  <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z"/>
                                                </svg>
                                              </div>
                                              <div class="col">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                                  <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z"/>
                                                </svg>
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col">
                                                  <% if debate.total_votes > 0 %>
                                                    <span class="percentage"><%= ((debate.likes / debate.total_votes) * 100) %>%</span>
                                                  <% else %>
                                                    <span class="percentage">0</span>
                                                  <% end %>
                                              </div>
                                              <div class="col">
                                                  <% if debate.total_votes > 0 %>
                                                    <span class="percentage"><%= ((debate.dislikes / debate.total_votes) * 100) %>%</span>
                                                  <% else %>
                                                    <span class="percentage">0</span>
                                                  <% end %>
                                              </div>
                                          </div>  
                                        </div>
                                      </div>
                                      <div style="height: 10rem; overflow: clip;" class="mb-3">
                                          <h3 class="big-text blue-text bold"><%= debate.title %></h3>
                                          <div class="mt-4 mb-4">
                                            <p class="card-subtitle"><%= strip_tags(debate.description) %></p>
                                          </div>
                                      </div>
                                      <a class="btn btn-secundario no-radius no-underline" style="padding-top: 0.5rem; padding-bottom: 0.5rem" href=""><%= t("debates.edit.show_link") %></a>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                            </div>
                          </div>
                        <% end %>
                    </div>
                  </div>
                </div>
                <div class="tab-pane h-100 fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <!-- Indicadores -->
                    <div class="carousel-indicators fixed-buttons">
                      <% proposals_group = @limited_proposals.each_slice(@proposal_group_count).to_a %>
                      <% proposals_group.each_with_index do |proposals_group, index| %>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" class="<%= index.zero? ? 'active' : '' %> circulo" data-bs-slide-to="<%= index %>" aria-label="Slide <%= index + 1 %>"></button>
                      <% end %>

                      <div class="debatesButton col-8 col-md-3">
                        <a class="btn btn-principal no-radius no-underline w-100" href="/proposals"><%= t("welcome.home.button_proposals") %></a>
                      </div>
                    </div>
                    <div class="carousel-inner">
                    <div class="row ps-3" style="margin-bottom: -1rem;">
                                <h3><%= t("proposals.index.title")%></h3>
                      </div>
                      <% proposals_group.each_with_index do |proposals_group, index| %>
                          <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
                            <div class="row p-3">
                              <div class="col-md-6 col-12 d-none d-md-block mb-4">
                                <div id="cardWelcome" class="fit-container card cardHome">
                                  <div class="card-body">
                                    <div class="col-12 mb-4">
                                      <%= image_tag("cruz-torres.jpg", class: "img-fluid rounded", alt: "Monumento de un hombre y una mujer.") %>
                                    </div>
                                    <strong>
                                    <a class="" style="" href="/tu-propones"><%= t("welcome.home.card") %></a>
                                    </strong>
                                  </div>
                                </div>
                              </div>
                              <% proposals_group.each_with_index do |proposal, debate_index| %>
                                
                                <div class="col-md-6 col-12 mb-4">
                                  <div id="cardWelcome" class="card cardHome">
                                    <!-- Contenido de tu tarjeta de debate aquí -->
                                    <div class="card-body">
                                      <div class="row mb-3">
                                        <div class="col align-self-start" style="height: 4rem">
                                          <% formatted_date = proposal.published_at.strftime("%d %b %Y") if proposal.published_at %>
                                          <span class="h6 card-subtitle text-muted uppercase"><%= formatted_date %> - <%= proposal.author.username %>  </span>
                                        </div>
                                      </div>
                                      <div style="height: 10rem;">
                                        <div class="row">
                                          <span class="h5 card-tittle"><%= proposal.title %></span>
                                        </div>
                                        <div class="row mb-3">
                                            <p class="card-subtitle"><%= strip_tags(proposal.description) %></p>
                                        </div>
                                      </div>
                                      <div class="row g-3">
                                        <div class="col">
                                        <span>
                                          <span class="bolder"><%= proposal.cached_votes_up %> apoyos</span>
                                          <span class="text-muted"></span>
                                        </span>
                                        </div>
                                        <div class="col">
                                          <a class="btn btn-secundario no-radius w-100 no-underline" style="padding-top: 0.5rem; padding-bottom: 0.5rem" href=""><%= t("layouts.dashboard.proposal_totals.show_proposal") %></a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% end %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
        </div>
      </div>    
    </div>
  </body>
</html>
